<%- include('../partials/header') %>

<div id="galleryShow">
    <div id="showContent">
        <div id="galleryTop">
            <a href="/gallery"><i class="fas fa-long-arrow-alt-left"></i></a>
            <h1><%= gallery.title %></h1>
        </div>
        <img class="rounded" src="<%= gallery.image %>" alt="<%= gallery.description %>"> 
        <div class="mt-3">
            <h3>
                <% if( gallery.price > 0) { %>
                    $
                <% } %>
                <% if( gallery.price == ""){ %>
                <% } %>
                <%= gallery.price %>
            </h3>
            <p><%= gallery.description %></p>
            <% let date = gallery.created_at; %>
            <% let d = date.getDate(); %>
            <% let m = date.getMonth() + 1; %>
            <% let y = date.getFullYear() %>
        <p id="createdShow">Added on: <%= d + '/' + m + '/' + y %></p>
        </div>
    </div>

<%- include('../partials/footer') %>