<%- include('partials/header') %>

<div class="container topPad">
    <div class="content">
        <h1>Dashboard</h1>
        <div class="row">  
            <div class="col-12 col-lg-4">
                <h3 class="pt-2">Quotes</h3>
                <div class="border mb-2 px-3 pt-2 text-left">
                    <p>Total: <%= quotes.length %></p>
                    <div class="dashBtns">
                        <a href="/new" class="btn btn-success">Add</a>
                        <a href="/quotes" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h3 class="pt-2">Galleries</h3>
                <div class="border mb-2 px-3 pt-2 text-left">
                    <p>Total: <%= galleries.length %></p>
                    <div class="dashBtns">
                        <a href="/gallery/new" class="btn btn-success">Add</a>
                        <a href="/gallery" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h3 class="pt-2">Testimonials</h3>
                <div class="border mb-2 px-3 pt-2 text-left">
                    <p>Total: <%= testimonials.length %></p>
                    <div class="dashBtns">
                        <a href="/testimonials/new" class="btn btn-success">Add</a>
                        <a href="/testimonials/edit" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h3 class="pt-2">About</h3>
                <div class="border mb-2 px-3 pt-2 text-left">
                    <div class="dashBtns mb-2">
                        <% if(abouts.length ==  0){ %>
                            <a href="/about/new" class="btn btn-success">Add</a> 
                        <% } %>
                        <% if(abouts.length == 1){ %>
                            <a href="/about/<%= abouts[0].id %>/edit" class="btn btn-info">Edit</a>
                        <% } %>
                    </div>
                    <% if(abouts.length == 1){ %>
                        <p><%= abouts[0].about %>...</p>
                    <% } else {%>
                        <p>No 'about' information yet</p>
                    <% } %>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h3 class="pt-2">Contact</h3>
                <div class="border mb-2 px-3 pt-2 text-left">
                    <div class="dashBtns mb-2">
                        <% if(emails.length ==  0){ %>
                            <a href="/contact/new" class="btn btn-success">Add</a> 
                        <% } %>
                        <% if(emails.length == 1){ %>
                            <a href="/contact/<%= emails[0]._id %>/edit" class="btn btn-info">Edit</a>
                        <% } %>
                    </div>
                    <% if(emails.length == 1){ %>
                    <p class="wordBreak">E-mail: <%= emails[0].email %></p>
                    <% } else {%>
                    <p>No E-mail assigned yet</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>